<div class="jumbotron about_jumbo">
	<div class="container">
		<p class="cabin jumbo_copy">WE F*CKING LOVE THE NEWS</p>
		<h4 style="line-height: 2.0;">
			It's the best way to wake up in the morning
			<br />
			(besides on a pile of non-sequential $100 bills)
		</h4>
	</div>
</div>
<div class="container about_story" style="text-align: center; margin-top: 30px;">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px;">
		OUR MISSION
	</h2>
	<hr style="width: 50%;">
	<h4 style="line-height: 2.0">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				To always keep our readers informed, with minimal time commitment, about relevant news and to elevate conversation in any social situation
			</div>
		</div>
	</h4>	
</div>
<div class="container center" style="margin-top: 80px; margin-bottom: 50px;">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px;">
		OUR TEAM
	</h2>
	<hr style="width: 50%;">
	<h4 style="line-height: 2.0; margin-top: 30px; margin-bottom: 30px;">
		We wanted to create something beautiful, something revolutionary.
		<br />
		Instead we made The Daily Water Cooler. Damn it.
	</h4>	
	<div id="team" class="transitions-enabled">
		<div class="box-team">
			<%= image_tag "about/phil.jpg" %>
			<div>
				<h4 class="cabin" style="letter-spacing: 2px;">PHIL NGUYEN</h4>
				<p style="margin-top: -10px;">
					<small style="font-style: italic;">Founder & Editor</small>
					<br />
					<small class="about_twitter"><%= link_to "@p_ngu", "http://www.twitter.com/p_ngu" %></small>
				</p>
			</div>
		</div>
		<div class="box-team">
			<%= image_tag "about/brittany.jpg" %>
			<div>
				<h4 class="cabin" style="letter-spacing: 2px;">BRITTANY D'ARCY</h4>
				<p style="margin-top: -10px;">
					<small style="font-style: italic;">Growth</small>
					<br />
					<small class="about_twitter"><%= link_to "@bdarcy2", "http://www.twitter.com/bdarcy2" %></small>
				</p>
			</div>
		</div>
	</div>
</div>