<div class="row center">
  <div class="col-md-6 col-md-offset-3" style="background: #ffccbc; height: 200px;">
    <h1 class="cabin main_hero_text" style="color: #fff;">
      About This Thing
    </h1>
    <hr style="width: 75%; border: 2px solid #fff;margin-top:-5px;">
  </div>
</div>
<div class="container center" style="margin-top: 30px;">
  <h4 style="line-height: 2.0">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
				I wanted to create something beautiful, something revolutionary. Instead I made The Daily Water Cooler. Damn it.
				<br><br>
				This email newsletter is written every weekday morning by <a href="https://twitter.com/p_ngu">Phil Nguyen</a>. It's meant to keep you informed about relevant news and to elevate conversation in any social situation.
      </div>
    </div>
  </h4> 
</div>