<div class="jumbotron ambassador_jumbo">
	<div class="container">
		<p class="cabin jumbo_copy">GET INVOLVED IN SOMETHING AMAZING</p>
		<h4 style="line-height: 2.0;">
			No, underwater basketweaving club doesn't count
		</h4>
	</div>
</div>
<div class="container" style="text-align: center;">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px;">
		STUDENT AMBASSADOR PROGRAM
	</h2>
	<hr style="width: 50%;">
	<h4 style="line-height: 2.0">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				The Student Ambassador Program is a handpicked community of passionate, active readers who wish to raise awareness about the many benefits of The DWC
			</div>
		</div>
	</h4>	
</div>
<div class="container ambassador_bullets" style="margin-top: 30px;">
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<h4 class="cabin" style="letter-spacing: 2px;">
						REQUIREMENTS
					</h4>
					<h6 style="line-height: 1.4">
						<ul>
							<li>An active reader of The DWC</li>
							<li>Enrolled in a full-time college or university</li>
							<li>Highly involved with student organizations and activities</li>
							<li>Outgoing personality, relentlessly hardworking, boundlessly creative</li>
							<li>OR: if you <a href="http://media.giphy.com/media/ysJU5f75uSZtS/giphy.gif">have a boat I can use for the summer</a>, I'm sure we can work something out</li>
						</ul>
					</h6>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4 class="cabin" style="letter-spacing: 2px;">
						RESPONSIBILITIES
					</h4>
					<h6 style="line-height: 1.4">
						<ul>
							<li>Generate and lead campaigns to grow The DWC community</li>
							<li>Organize kick-ass events on campus</li>
							<li>Act as the campus liaison for The DWC team</li>
						</ul>
					</h6>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<h4 class="cabin" style="letter-spacing: 2px;">
				BENEFITS + PERKS
			</h4>
			<h6 style="line-height: 1.4">
				<ul>
					<li>Opportunity to have an on-campus leadership position</li>
					<li>Learn and apply strategies to grow a business</li>
					<li>Receive fine (damn fine!) swag and recognition</li>
					<li>Gain visibility on The DWC's newsletter, website, and social media</li>
				</ul>
			</h6>
		</div>	
	</div>
</div>
<div class="container ambassador_signup" style="margin-top: 30px;">
	<h5 style="text-align: center;">
		<br />
		To apply send an email to <a href="mailto:phil@the-dwc.co">phil@the-dwc.co</a> with your bio and your favorite GIF and we'll be in touch with next steps
		<br /><br />
	</h5>
</div>
<div class="container ambassador_note" style="margin-bottom: 50px;">
	<h6 style="text-align: center;">
		Note: Unfortunately at this time we are only accepting candidates at the University of Illinois at Urbana-Champaign. However if you attend a different school, feel free to send us an email expressing your interest so we have your contact on file once we expand the Student Ambassador Program.
	</h6>
</div>