<div class="jumbotron thankyou_jumbo">
	<div class="container">
    <p class="cabin jumbo_copy">THANKS. YOU'RE ALMOST THERE!</p>
    <h4 style="line-height: 2.0;">
      Just one more teeny tiny step to go.
    </h4>
  </div>
</div>
<div class="container" style="text-align: center; margin-top: 30px; margin-bottom: 50px;">
	<h4 style="line-height: 2.0;">
		To complete your subscription process, please click the link in the email we just sent you.
		<br />
		You're literally a few clicks from news nirvana.
	</h4>	
	<h6 class="thanks_link">
		(If you really can't wait to get The DWC after confirming, check out our <%= link_to "10 most recent issues", recent_path %>)
	</h6>
</div>