<div class="row center">
  <div class="col-md-6 col-md-offset-3" style="background: #ffccbc; height: 200px;">
    <h1 class="cabin main_hero_text" style="color: #fff;">
      Thanks! Almost there.
    </h1>
    <hr style="width: 75%; border: 2px solid #fff;margin-top:-5px;">
  </div>
</div>
<div class="container center" style="margin-top: 30px;">
  <h4 style="line-height: 2.0">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
				To complete your subscription process, please click the link in the email we just sent you.
				<br><br>
				You're literally a few clicks from news nirvana.
      </div>
    </div>
  </h4> 
</div>