<div class="container" style="position: relative;">
  <% if user_signed_in? %>
    <div class="admin-control">
      <%= link_to new_archive_path, class: "fa-stack fa-lg" do %>
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
      <% end %>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <% @archives.each do |archive| %>
        <div class="row">
          <div class="col-md-12">    
            <%= archive.date.strftime("%B %e, %Y")  %> 
            <h1><%= link_to archive.title, archive, {:class => "raleway"} %></h1>
          </div>
        </div>
        <hr />
      <% end %>
    </div>
  </div>
  <%= will_paginate @archives %>
</div>
