<div class="jumbotron shop_jumbo">
	<div class="container">
		<h2>This is our shop</h2>
		<h4>
			Feel free to browse
		</h4>
	</div>
</div>
<div class="container" style="text-align: center;">
	<h4 style="line-height: 1.4">
		Thank you! You'll receive a confirmation email for your order within 24 hours.
	</h4>
</div>